parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/postman
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
